/* reset */
*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body{
	font-size: 18px;
	line-height: 1.6;
	background-image: linear-gradient(135deg,#f5f7fa 0%,#c3cfe2 100%);
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	min-height: 100vh;
}

.main{
	text-align: center;
	width: 90%;
}

.text{
	position: absolute;
	left: 10px;
	background-color: #DB7093;
	color: #FFFFFF;
	width: 200px;
	height: 60px;
	text-align: center;
	line-height: 60px;
}