.loader2{
	position: absolute;
	top: 50%;
	font-size: 40px;
	color: palevioletred;
}

.loader2::after{
	display: inline-block;
	overflow: hidden;
	content: '\2026';
	vertical-align: bottom;
	/* steps(分成n段执行,在什么时候执行) */
	animation: dots steps(4,end) 2s infinite;
	width: 0;
}

@keyframes dots{
	to{
		width: 50px;
	}
}