*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
body{
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	background-color: #333333;
	color: #FFFFFF;
	line-height: 1.6;
}

h1{
	margin-bottom: 10px;
}
p{
	font-size: 1.2rem;
}

.slider{
	position: relative;
	overflow: hidden;
	height: 100vh;
	width: 100vw;
}

.slider .slide{
	position: absolute;
	top: 0;
	left: 0;
	height: 100vh;
	width: 100vw;
	opacity: 0;
	transition: all .7s ease-in-out;
}
.slider .slide .contain{
	position: absolute;
	bottom: 70px;
	left: -600px;
	width: 600px;
	background-color: rgba(255,255,255,0.8);
	color: #333333;
	padding: 35px;
	opacity: 0;
}
.slider .slide.current{
	opacity: 1;
}
.slider .slide.current .contain{
	opacity: 1;
	transform: translateX(600px);
	transition: all 0.7s ease-in-out 0.2s;
}

/* 背景图 */
.slide:nth-child(1){
	background: url(img/img1.jpg) no-repeat center center/cover;
}
.slide:nth-child(2){
	background: url(img/img2.jpg) no-repeat center center/cover;
}
.slide:nth-child(3){
	background: url(img/img3.jpg) no-repeat center center/cover;
}
.slide:nth-child(4){
	background: url(img/img4.jpg) no-repeat center center/cover;
}

/* 按键 */
.btn{
	width: 100%;
	z-index: 9999;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	display: flex;
	align-items: center;
}
.btn div{
	width: 50px;
	height: 50px;
	border-radius: 50%;
	border: 1px solid #FFFFFF;
	display: flex;
	align-items: center;
	justify-content: center;
	cursor: pointer;
	transition: .5s ease-in-out;
}
.btn div:hover{
	border-color: rgba(0,0,0,0.6);
	background-color: rgba(0,0,0,0.6);
}
.btn img{
	width: 50%;
	height: 50%;
}
.btn .next{
	position: absolute;
	right: 2rem;
}
.btn .next img{
	margin-left: 5px;
}
.btn .back{
	position: absolute;
	left: 2rem;
}
.btn .back img{
	margin-left: -5px;
}

@media (max-width:600px) {
	.slider .slide .contain{
		bottom: -300px;
		left: 0;
		width: 100%;
	}
	.slider .slide.current .contain{
		transform: translateY(-300px);
	}
}