*{
	margin: 0;
	padding: 0;
}
body{
	font-family: 'Bungee', cursive;
	background-color: #000000;
	color: #FFFFFF;
	overflow: hidden;
}
.container{
	display: flex;
	justify-content: center;
	align-items: center;
	background: url(img/bg.jpg) no-repeat center center/cover;
	height: 100vh;
}
.animated{
	margin: 0;
	padding: 0;
	font-size: 5rem;
	background: url(img/text-bg.png) no-repeat ;
	background-clip: text;
	-webkit-background-clip: text;
	color: transparent;
	animation: moveBg 90s linear infinite;
	-webkit-animation: moveBg 90s linear infinite;
}
@keyframes moveBg{
	0%{
		background-position: 0% 30%;
	}
	100%{
		background-position: 100% 50%;
	}
}
@-webkit-keyframes move{
	0%{
		background-position: 0% 30%;
	}
	100%{
		background-position: 100% 50%;
	}
}